body {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;

	color: #111;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	max-width: 600px;
	margin: 0 auto;
	padding: 0 20px;
}

#sliderLabel{
	margin-bottom: 1rem;
	font-size: 3rem;
	font-weight: bold;
}

.slider {
	background: #FFDC00;
	border: 1px solid #111;

	transform-origin: center;
	transform: rotate(var(--rot, 0deg));
	transition: transform 0.1s;
	padding: 4px;
	border-radius: 8px;

	display: flex;
	width: 100%;
}

.slider-knob {
	user-select: none;
}

.slider-knob::after {
	content: '::';
	font-family: monospace;
	cursor: grab;
	font-weight: bold;
	padding: 0 0.5ch;
}

.slider input {
	flex: 1 1 0;
	accent-color: #111;
	pointer-events: none;
}

p {
	margin: 1rem 0 2rem;
	text-align: center;
}

#gravityChoice {
	margin-top: 0.5rem;
}

#gravityChoice > label,
#gravityChoice > label > input {
	white-space: nowrap;
	margin: 0.5ch 0.5ch 0.5ch 0;
}

.force-grabbing,
.force-grabbing .slider-knob::after {
	cursor: grabbing !important;
}

.force-grabbing .slider {
	transition: 0s;
}

.w100 {
	width: 100%;
}

footer {
	margin-top: 1rem;
}